<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

	<property name="LOG_FILE" value="test/logs" />

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] ${HOSTNAME} DOC360-REST-API-GETCONTENT %-5p %c{1}:%L - %m%n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<appender name="rollingFileApender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<File>${LOG_FILE}/doc360-rest-api-getcontent.${HOSTNAME}.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] ${HOSTNAME} DOC360-REST-API-GETCONTENT %-5p %c{1}:%L - %m%n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>100</maxHistory>
			<fileNamePattern>${LOG_FILE}/doc360-rest-api-getcontent.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 500MB -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>


	<logger name="com.optum.dms.doc360" level="DEBUG" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rollingFileApender" />
	</logger>
 	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rollingFileApender" />
	</logger>
 	<logger name="org.hibernate" level="WARN" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rollingFileApender" />
	</logger>
	<logger name="com.zaxxer.hikari" level="WARN" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rollingFileApender" />
	</logger>
	<logger name="com.ulisesbocchio" level="WARN" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rollingFileApender" />
	</logger>
	<root level="DEBUG" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rollingFileApender" />
	</root>

</configuration>
